# Application root directory
ROOT_DIR=/data/sources/verbalisations/antai/img/

# Temporary directory
TMP_DIR=/workspace/tmp

# DSS output directory 
DSS_DIR=/dss

# Application key for DSS project
API_KEY_VIT=

# Project key for DSS project connection
PROJECT_KEY_VIT=VIT

# DSS application host 
DSS_HOST=

# Vertica  ip addres host
VERTICA_HOST=
